body {
    font: small/1.6em Verdana, Helvetica, Arial, sans-serif;
}

h1, h2 {
    color: #007e7e;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}

#guarantee {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    color: #444444;
    border: 1px dashed white;
    padding: 25px 25px 25px 80px;
    margin: 30px 250px 30px 30px;
    line-height: 1.9em;
    background: #a7cece url(../images/background.gif) no-repeat top left;

}

#elixirs {
    border: thin solid #007e7e;
    width: 200px;
    padding: 0 20px 20px 20px;
    margin-left: 20px;
    text-align: center;
    background: url(../images/cocktail.gif) repeat-x;
    line-height: 1;
    float: right;
}

#elixirs h2 {
    color: black;
}

#elixirs h3 {
    color: #d12c47;
}

#footer {
    font-size: 70%;
    text-align: center;
    line-height: normal;
    margin-top: 30px;
    color: red;
}

.cd {
    font-style: italic;
}

.artist {
    font-weight: bold;
}

#elixirs a:link {
    color: #007e7e;
}

#elixirs a:visited {
    color: #333333;
}

#elixirs a:hover {
    background: #f88396;
    color: #0d5353;
}

a:link {
    color: #007e7e
}

a:visited {
    color: #333333;
}
